<h1><%= @question.test.title %> Question </h1>

<div>
  <h2><%= @question.body %></h2><br>
  <%= link_to 'New Answer', new_question_answer_path(@question) %>
  <table border="1">
    <tr>
      <th>Answer ID:</th>
      <th>Body: </th>
      <th>Edit: </th>
      <th>Delete: </th>
    </tr>
    <%= render @question.answers %>
  </table>
</div>


<%= link_to 'Edit Question', edit_question_path(@question) %>
<%= link_to 'Back', test_path(@question.test) %>
