<tr>

  <td><%= badge.name %></td>
  <td><%= image_tag badge.img_url, class:"achievement" %></td>
  <td><%= badge.rule %></td>
  <td><%= link_to 'Show', admin_badge_path(badge) %></td>
  <td><%= link_to 'Edit', edit_admin_badge_path(badge) %></td>
  <td><%= link_to 'Destroy', admin_badges_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
