<p id="notice"><%= notice %></p>

<h1>Badges</h1>

<table class="table badges-table">
  <tr>
    <th><%= t('.name') %></th>
    <th><%= t('.img') %></th>
    <th><%= t('.rule') %></th>
  </tr>

  <%= render @badges %>
</table>


