<div>
  <%= current_year %>
</div>
<div>
  <h2><%= t('author') %></h2><br>
  <p>Никита Сидоров</p>
</div>
<div>
  <div>
    <p><%= t('project') %></p>
    <%= github_url('Test-Guru', 'https://github.com/KebabJoy/Test-Guru/tree/7th_task')%>
  </div>
  <div>
    <%= link_to t('link'), "thinknetica.com", target: :_blank %>  <!--можно в хэлпер засунуть, но в задании этого не сказано-->
    <p><%= t('link_description') %></p>
  </div>
</div>

