<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @gist.user_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @gist.question_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @gist.url %>
</p>

<%= link_to 'Edit', edit_gist_path(@gist) %> |
<%= link_to 'Back', gists_path %>
