<h1>Tricky tests</h1>

<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      Title
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    <th><%= t('.level') %></th>
    <th><%= t('.author') %></th>
    <th><%= t('.questions') %></th>
    <th><%= t('.actions') %></th>
  </tr>
  <%= render @tests %>
</table>
